<div class="tas1ks">
    <div class="top">
        <div class="title">
            <h2>Задачи сотрудников</h2>
            <div class="breadcrumps">
                <p>Задачи / Текущие / Иван Иванов</p>
            </div>
        </div>
        <div class="buttons">
                <a href="#" class="btn1">Календарь &nbsp; <img src="../img/calendar.png" alt="" width="15" height="15"></a>
                <a href="#" class="btn2">Добавить задачу</a>
        </div>
    </div>
    <div class="top tabpanel">
        <div class="tabs1">
            <div class="tab_item">Текущие(11)</div>
            <div class="tab_item">Новые(4)</div>
            <div class="tab_item">Просроченные(9)</div>
            <div class="tab_item">Выполнить(6)</div>
            <div class="tab_item">Для ознакомления(3)</div>
            <div class="tab_item">Планерка(1)</div>
            <div class="tab_item">Последние(3)</div>
            <div class="tab_item">Все(37)</div>
        </div>
        <div class="icons">
            <div class="icon_item"><a href="#">Поиск <img src="../img/search.png" alt="" width="15" height="15"></a></div>
            <div class="icon_item"><a href="#">Печать  <img src="../img/print.png" alt="" width="15" height="15"></a></div>
            <div class="icon_item"><a href="#">Фильтры  <img src="../img/filter.png" alt="" width="15" height="15"></a></div>
        </div>
    </div>
    <table class="tablesaw tablesaw-swipe" data-tablesaw-mode="swipe">
        <thead>
            <tr>
                <th><input type="checkbox"></th>
                <th>№</th>
                <th>Дата</th>
                <th>Задача</th>
                <th>От кого</th>
                <th>Кому</th>
                <th>План-дата</th>
                <th>Процесс</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox"></td>
                <td>01</td>
                <td>01.06.2017</td>
                <td>Собрать десктоп страницы</td>
                <td>К.К.Иванов</td>
                <td>А.Д.Сидоров</td>
                <td>01.07.2017</td>
                <td>30%</td>
                <td>x</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>02</td>
                <td>01.06.2017</td>
                <td>Разработать мобильную версию страниц</td>
                <td>К.К.Иванов</td>
                <td>А.Д.Сидоров</td>
                <td>01.07.2017</td>
                <td>10%</td>
                <td>x</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>03</td>
                <td>01.06.2017</td>
                <td>Выпадающее меню пользователя</td>
                <td>К.К.Иванов</td>
                <td>А.Д.Сидоров</td>
                <td>01.07.2017</td>
                <td>30%</td>
                <td>x</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>04</td>
                <td>01.06.2017</td>
                <td>Собрать десктоп страницы</td>
                <td>К.К.Иванов</td>
                <td>А.Д.Сидоров</td>
                <td>01.07.2017</td>
                <td>80%</td>
                <td>x</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>05</td>
                <td>01.06.2017</td>
                <td>Разработать систему искусственного интеллекта Netflix</td>
                <td>К.К.Иванов</td>
                <td>А.Д.Сидоров</td>
                <td>01.07.2017</td>
                <td>40%</td>
                <td>x</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>06</td>
                <td>01.06.2017</td>
                <td>Выпадающее меню пользователя</td>
                <td>К.К.Иванов</td>
                <td>А.Д.Сидоров</td>
                <td>01.07.2017</td>
                <td>80%</td>
                <td>x</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>07</td>
                <td>01.06.2017</td>
                <td>Собрать десктоп страницы</td>
                <td>К.К.Иванов</td>
                <td>А.Д.Сидоров</td>
                <td>01.07.2017</td>
                <td>60%</td>
                <td>x</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>08</td>
                <td>01.06.2017</td>
                <td>Разработать систему искусственного интеллекта Netflix</td>
                <td>К.К.Иванов</td>
                <td>А.Д.Сидоров</td>
                <td>01.07.2017</td>
                <td>30%</td>
                <td>x</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>09</td>
                <td>01.06.2017</td>
                <td>Выпадающее меню пользователя</td>
                <td>К.К.Иванов</td>
                <td>А.Д.Сидоров</td>
                <td>01.07.2017</td>
                <td>100%</td>
                <td>x</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>10</td>
                <td>01.06.2017</td>
                <td>Разработать систему искусственного интеллекта Netflix</td>
                <td>К.К.Иванов</td>
                <td>А.Д.Сидоров</td>
                <td>01.07.2017</td>
                <td>40%</td>
                <td>x</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>11</td>
                <td>01.06.2017</td>
                <td>Собрать десктоп страницы</td>
                <td>К.К.Иванов</td>
                <td>А.Д.Сидоров</td>
                <td>01.07.2017</td>
                <td>95%</td>
                <td>x</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>12</td>
                <td>01.06.2017</td>
                <td>Собрать десктоп страницы</td>
                <td>К.К.Иванов</td>
                <td>А.Д.Сидоров</td>
                <td>01.07.2017</td>
                <td>95%</td>
                <td>x</td>
            </tr>
        </tbody>
    </table>
